.link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 27px;
  height: 27px;
  text-decoration: none;

  span {
    display: inline-block;
  }
}

.title {
  height: 18px;
  line-height: 20px;
  padding-left: 3px;
  color: rgba(black, 0.8);
}

.plus {
  color: limegreen;
  font-size: 27px;
}
