.formWrapper {
  max-width: 700px;
  margin: 0 auto;
}

.columnWrapper {
  padding: 10px;
  border: 1px solid rgba(gray, 0.5);
  border-radius: 4px;
}

.itemWrap {
  :global {
    .ant-form-item-control-input-content {
      display: flex;
    }
  }
}
