@import '../assets/styles/variables.scss';

.greetingPage {
  font-family: $caveat;
  text-align: center;
  color: black;
}

.greetText {
  margin: 15px 0 30px;
  font-size: 28px;
  line-height: 28px;
}

.links {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;

  a {
    font-size: 25px;
    line-height: 30px;
    color: $darkBlue;
    text-decoration: none;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 15px;

    &:hover {
      text-shadow: 0 0 9px rgba($darkBlue, 0.5);
    }
  }
}

.fruits {
  margin-top: 30px;

  img {
    max-width: 100%;
  }
}
