@import '../../assets/styles/variables';

.menu {
  height: 100%;
  padding: 20px 11px 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(18, 4, 83, 0.5);
  z-index: 10;
}

.menuTitle {
  padding-left: 10px;
  color: rgba($darkBlue, 0.8);
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;

  span {
    position: relative;
    display: block;
    background-color: $darkBlue;
    width: 22px;
    height: 17px;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background-color: white;
    }

    &:before {
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background-color: white;
    }
  }
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  text-decoration: none;

  span {
    display: inline-block;
  }
}

.items {
  padding: 10px 10px 15px 7px;
}

.itemTitle {
  height: 18px;
  line-height: 20px;
  padding-left: 3px;
  color: rgba(black, 0.8);
}

.plus {
  color: limegreen;
  font-size: 27px;
}

.pencil {
  color: orange;
  font-size: 15px;
  padding: 0 5px 0 4px;
}

.tablesList {
  margin-top: 30px;
}

.link {
  display: flex;
}
